body{
    font-family: 'Poppins';
}

.carousel-indicators li{
    background-color: #ffc420;
    margin-top: 5px;
    padding-top: 5px;
}
.best-product-bg{
    background-image: url(images/bg-Best\ Products.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 13%;
}
.button-link{
    text-transform: uppercase;
    background-color: black;
    color:white;
    border:none;
    padding: 9px 20px;
    border-radius: 5px;
}
.cat-hr{
    width: 50px;
    color: #ffc420;
    border: 3px solid #ffc420;
    border-radius: 5px;
}
.card{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
}

.card-body{
    text-align: center;
}

.col-footer-block{
margin-top: 100px;
padding-top: 50px;
padding-bottom: 50px;
}
.footer{
    margin-top: 100px;
}

ul.contact {
    list-style-type: none;
}
ul.all-links{
    list-style-type: none;
}
